version: '3.8'

services:
  backend:
    build: ./backend
    container_name: resource_manager_backend
    restart: always
    ports:
      - "8000:8000"
    volumes:
      - ./backend/resource_manager.db:/app/resource_manager.db

  frontend:
    build: ./frontend
    container_name: resource_manager_frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend

networks:
  default:
    driver: bridge
